body {
    position: relative;
    margin: 0;
    height: 100vh;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://assets.thehansindia.com/h-upload/2020/08/15/991580-jntuh.jpg');
    background-size: cover;
    filter: blur(25px);
    z-index: -1;
}

h2,
p {
    text-align: center;
}